[submodule "Kha"]
	path = Kha
	url = https://github.com/mebyz/Kha
[submodule "Libraries/primitive"]
	path = Libraries/primitive
	url = https://github.com/mebyz/primitive
[submodule "Libraries/noisetile"]
	path = Libraries/noisetile
	url = https://github.com/mebyz/noisetile
[submodule "Libraries/instances"]
	path = Libraries/instances
	url = https://github.com/mebyz/instances
[submodule "Subprojects/aura"]
	path = Subprojects/aura
	url = https://github.com/MoritzBrueckner/aura
[submodule "Subprojects/koui"]
	path = Subprojects/koui
	url = https://gitlab.com/koui/koui
[submodule "Libraries/colyseus"]
	path = Libraries/colyseus
	url = https://github.com/mebyz/colyseus-haxe
[submodule "Libraries/colyseus-websocket"]
	path = Libraries/colyseus-websocket
	url = https://github.com/colyseus/colyseus-websocket-hx
